{% extends 'base.html' %}
{% load static %}



{% block head %}
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Result Tub</title>
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="resulttub">
   <meta name="robots" content="index, follow">
   <meta name="og:title" property="og:title" content="">
   <meta name="og:description" property="og:description" content="">
   <!-- <meta name="og:image" property="og:image" content="https://example.com/tech-news-thumbnail.jpg"> -->
   <!-- <meta name="og:url" property="og:url" content="https://example.com/tech-news"> -->
   <meta name="og:type" property="og:type" content="website">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="">
   <meta name="twitter:description" content="">
   <!-- <meta name="twitter:image" content="https://example.com/tech-news-thumbnail.jpg"> -->
   <link rel="canonical" href="https://example.com/tech-news">
</head>
{% endblock head %}



{% block content %}

   <div class="container">

   </div>

{% endblock content %}


